/* Skeleton Loading */
.skeleton {
  background: linear-gradient(90deg, var(--bg-secondary) 25%, var(--border-color) 50%, var(--bg-secondary) 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  border-radius: 4px;
}

@keyframes loading {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}

.skeleton-text {
  height: 1em;
  margin-bottom: 0.5em;
  width: 100%;
}

.skeleton-text:last-child {
  width: 80%;
}

.skeleton-title {
  height: 2em;
  margin-bottom: 1em;
  width: 60%;
}

.skeleton-image {
  width: 100%;
  height: 200px;
  margin: 2em 0;
  border-radius: 8px;
}

